* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: grey;
}

.hidden {
    display: none;
}

.game_container {
    position: relative;
    width: 320px;
    height: 240px;
    margin: 0 auto;
    margin-top: 100px;
    border: 1px black solid;

    transform: scale(3) translateY(50%);
    image-rendering: pixelated;
}
